<!DOCTYPE html>
<html lang='{{lang|default('ja')}}'>
<head>
<title>{{pagetitle}}</title>
<meta charset='{{charset|default('UTF-8')}}'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' type='text/css' href='{{static_dir('css/bootstrap.css')}}'/>
<link rel='stylesheet' type='text/css' href='{{static_dir('css/bootstrap-theme.min.css')}}'/>
<script type='text/javascript' src='{{static_dir('js/jquery-3.2.1.min.js')}}'/></script>
<script type='text/javascript' src='{{static_dir('js/bootstrap.min.js')}}'/></script>
{% block extrahead %}{% endblock %}
<style type='text/css'>
body {
  padding-top: 70px;
  padding-bottom:70px;
}
{% block css %}{% endblock %}
</style>
<script>
{% block script %}{% endblock %}
</script>
</head>
<body>
{% include 'header.html' %}
{% block body %}{% endblock %}
</body>
</html>
